.store{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.products-container{
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap: 8px;
    margin-top: 30px  ;
}
.cart{
    margin-top:50px ;
    background-color: bisque;
    
}
h1{
    color:rgb(16, 72, 107)
    
}
.motto{
    color: rgba(0, 128, 0, 0.432);
    text-shadow: 2px 2px 2px lightgrey;
    font-weight: 700;
}
@media screen and (max-width:1400px){
    .products-container{
        grid-template-columns:1fr;
    }
   
    
}